@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive center-block" src="https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202017/Money/May/CR-Money-Hero-Booking-Multiple-Airline-Tickets-05-17-v2" alt="Alternate Text" />
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li role="presentation">
       <a href="#" >Flight</a>
        @{ Html.RenderPartial("Flight"); }
    </li>
    <li role="presentation">
        <a href="#" >Hotel</a>
        @{ Html.RenderPartial("Hotel"); }


    </li>
   
</ul>

@*@Ajax.ActionLink("Flights", "Flight",
    new AjaxOptions
    {
        UpdateTargetId = "FlightList",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
})

@Ajax.ActionLink("Hotels", "Hotel",
    new AjaxOptions
    {
         Url = "~/Views/Home/Hotel",
        UpdateTargetId = "HotelList",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    })*@

