@using GridMvc.Html

@model IEnumerable<FlightViewModel>

<div>
    @Html.Grid(Model).Columns(column =>
{
    column.Add(c => c.Airline);
    column.Add(c => c.Title).Titled("Flight Number");
    column.Add(c => c.Price);
    column.Add(c => c.Duration).Titled("Flight Duration").Filterable(true);
    column.Add(c => c.Id)
        .Titled("Details")
        .Filterable(true).Sanitized(false).Encoded(false)
        .RenderValueAs(c => Html.ActionLink("Show Details", "Details", "Flight", new { flightId = c.Id }, null).ToHtmlString());
}).WithPaging(3).Sortable(true)
</div>

