@using AirTickets.Web.Models.Flight
@model IEnumerable<AllFlightInformationView>

<div class="panel">
    @foreach (var flight in Model)
    {
        @Html.DisplayFor(x => flight)
        
    }
</div>

