<div class="panel">
    @using (Ajax.BeginForm("FilteredFlights", new { }, new AjaxOptions()
    {
        HttpMethod = "Post",
        UpdateTargetId = "flightPanel",
        InsertionMode = InsertionMode.Replace,
    }, new { id = "ajaxForm" }))
    {
        <input type="text" name="price" />
    }
</div>
<div id="flightPanel" class="panel">
    @Html.Action("AllFlights")
</div>

@section scripts {
    <script>
        $(function () {
            $('[name="price"]').keyup(function () {
                $('#ajaxForm').submit()
            })
        })
    </script>
}