@*@using AirTickets.Web.Models
    @model IEnumerable<FlightViewModel>

    @foreach (var flight in Model)
    {
        <h2>
            @Html.DisplayFor(f => flight)
        </h2>
    }*@


@using AirTickets.Web.Models
@model IEnumerable<FlightViewModel>

    @using (Html.BeginForm("GetFlight", "Flight", FormMethod.Post))
    {
        <input type="text" name="price" />

        <input type="submit" value="Search" />
    }

    @foreach (var flight in Model)
    {
        <h2>
            @Html.DisplayFor(f => flight)
        </h2>
    }
