@model FlightViewModel

<div>
    <div>
        Flight number <p>@Html.DisplayFor(x => x.Title)</p>
    </div>
    <div>
        Price @Html.DisplayFor(x => x.Price)
    </div>
    <div>
        Duration @Html.DisplayFor(x => x.Duration)
    </div>
    @*<div class="hideText">
        @Html.ActionLink("More Details", "Details", new { id = Model.Id }, new { @class = "linkdisabled" })
        </div>*@
    <div class="row bottom-buffer"></div>
    </div>


<style>
    .bottom-buffer {
        margin-top: 50px;
    }
</style>