@using GridMvc.Html

@model IEnumerable<AirportViewModel>

<div>
    @Html.Grid(Model).Columns(column =>
{
    column.Add(a => a.Name).Titled("Airport Name");
    column.Add(a => a.AirportCode).Titled("ICAO Abbreviation");
}).WithPaging(3)

</div>


@*<div>
        @(Html.Kendo().Grid(Model)
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(x => x.Name).Title("Airport Name");
                columns.Bound(x => x.AirportCode).Title("ICAO abbreviation");
            })
             .Pageable()
                .Sortable()
        )
    </div>*@