@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive center-block" src="https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202017/Money/May/CR-Money-Hero-Booking-Multiple-Airline-Tickets-05-17-v2" alt="Alternate Text" />
        </div>
    </div>
</div>

<p align="center" style="margin-top: 20px">
    <a class="btn btn-warning radio-inline" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Flights</a>
    <button class="btn btn-warning radio-inline" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample1">Hotels</button>
    <button class="btn btn-warning radio-inline" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Car Hire</button>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                @{ Html.RenderPartial("_Flight"); }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                @{ Html.RenderPartial("_Hotel"); }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <div class="card card-body">
                @{ Html.RenderPartial("_CarHire"); }
            </div>
        </div>
    </div>
</div>

@*<div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Flights
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                   @{ Html.RenderPartial("_Flight"); }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Hotels
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                   @{ Html.RenderPartial("_Hotel"); }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Car hire
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    @{ Html.RenderPartial("_CarHire"); }
                </div>
            </div>
        </div>
    </div>*@